<head>
  <%= stylesheet_link_tag 'homepage', media: 'all'%>
</head>

<div class="background-container container-fluid">
  <%= image_tag("background.jpg" , :class=>"background-image ") %>
  <span class="box-container ">
    <div class="box-content">
      <h4 class="display-4" style="color:yellow;">Você Aluno</h4>
      <p class="paragraph-content">
        Quer participar de nosso vestibular e ganhar uma chance de concorrer a uma de nossas vagas? 
        Cadastre-se e faça nosso vestibular.
      </p>
      <a class="button-content btn btn-outline-warning " href="undergraduates/new">
        Simulado
      </a>
    </div>
  </span>
</div>
