

<p class="text-in-page anchors">
  <strong>Name:</strong>
  <%= @undergraduate.name %>
</p>
<p class="text-in-page anchors">
  <strong>Isable:</strong>
  <%= @undergraduate.isAble %>
</p>

<%#= link_to('Edit', edit_undergraduate_path(@undergraduate),:class=>"text-in-page anchors")%> |
<%#= link_to('Back', undergraduates_path, :class=>"text-in-page anchors" )%>
