.simulated-container{
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: #eee;
  padding: 40px;
}
.card-content{
  box-shadow: 3px 3px #00000032;
  margin-top: 40px;
}
.card-text-content{
  display: block;
  margin: 1.5em;
}
.h-title{
  font-size: 20px;
}
.card-basic{
  border-radius: 12px;
}
.button-basic{
  width: 100%;
}